.hero {
    background-image: linear-gradient($lightgrayishblue, $verylightgray);

    

    .container{
        
        @include breakpoint-up(large) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            
            
        }

        
    }

    &__image {
        position: relative;
        background-image: url("/images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center -10rem;
        min-height: 17.5rem;

        @include breakpoint-up(medium) {
            min-height: 25rem;
        }
        
        @include breakpoint-up(large) {
            flex: 1.2;
            height: 41rem;
            //background-image: url("/images/bg-intro-desktop.svg");
            //background-position: 0 75%;
            //background-size: 150%;
            background-image: none;
            
        }

        &::before {
            content: "";
            height: 100%;
            width: 180%;
            position: absolute;
            background-image: url("/images/bg-intro-desktop.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 -14.375rem;

            @include breakpoint-down (medium){
                background-image: none;
                width: 100%;
            }

            
            
        
        }
    
        &::after{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("/images/image-mockups.png");
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up (medium) {
                background-size: 60%;
                background-position: center bottom;
            }
    
            @include breakpoint-up(large) {
                width: 125%;
                height: 125%;
                background-position: 10rem -6.875rem;
                background-size: 90%;
                
            }
        }

        
        
    }

    &__text {
        text-align: center;
        

        @include breakpoint-up(large) {
            flex: 0.85;
            text-align: left;
        }

        h1 {
            font-weight: 400;
            font-size: 2.375rem;
            margin-bottom: 1.5rem;

            @include breakpoint-up(large) {
                font-size: $font-xlarge;
                
            }
        }

        p {
            color: $grayishblue;
            font-size: $font-small;
            line-height: 1.6;
            margin-bottom: 2.25rem;

            @include breakpoint-up(large) {
                font-size: $font-large;
                
            }
        }

        
    }

    &__cta {
        margin: auto;
    }
}