@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  1% {
    visibility: hidden;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  1% {
    visibility: hidden;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 300;
  color: #2d314d;
  line-height: 1.3;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.25rem;
  }
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.5625rem;
  }
}

.container {
  max-width: 69.5rem;
  margin: 0 auto;
}

.container-pall {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container-py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container-px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-pt {
  padding-top: 2.25rem;
}

.container-pb {
  padding-bottom: 2.25rem;
}

.container-pl {
  padding-left: 1.5rem;
}

.container-pr {
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  padding: 0.875rem 2.185rem;
  border-radius: 50px;
  border: 0;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  color: #f3f4f6;
  font-weight: 400;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background: white;
}

.header .overlay {
  position: fixed;
  top: 4.6875rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header .overlay.fade-in {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header .overlay.fade-out {
  visibility: hidden;
}

.header__menu {
  background: white;
  padding: 1.625rem;
  border-radius: 5px;
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  top: 6.1875rem;
  opacity: 0;
  z-index: 2;
}

.header__menu a {
  color: #2d314d;
  padding: 0.625rem;
  display: block;
  text-align: center;
}

.header.open .header__hbg :first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__hbg :nth-child(2) {
  opacity: 0;
}

.header.open .header__hbg :last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__hbg {
  position: absolute;
  right: 1.5rem;
}

.header__hbg > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 5.5px;
          transform-origin: 5.5px;
}

.header__hbg > span:not(:last-child) {
  margin-bottom: 3px;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2.25rem;
}

.header__links a::before {
  content: "";
  display: block;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  position: absolute;
  height: 0.25rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f4f6), to(#fafafa));
  background-image: linear-gradient(#f3f4f6, #fafafa);
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -10rem;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
    height: 41rem;
    background-image: none;
  }
}

.hero__image::before {
  content: "";
  height: 100%;
  width: 180%;
  position: absolute;
  background-image: url("/images/bg-intro-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -14.375rem;
}

@media (max-width: 63.9375em) {
  .hero__image::before {
    background-image: none;
    width: 100%;
  }
}

.hero__image::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/images/image-mockups.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 40em) {
  .hero__image::after {
    background-size: 60%;
    background-position: center bottom;
  }
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 125%;
    height: 125%;
    background-position: 10rem -6.875rem;
    background-size: 90%;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 0.85;
        -ms-flex: 0.85;
            flex: 0.85;
    text-align: left;
  }
}

.hero__text h1 {
  font-weight: 400;
  font-size: 2.375rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 3.25rem;
  }
}

.hero__text p {
  color: #9698a6;
  font-size: 0.875rem;
  line-height: 1.6;
  margin-bottom: 2.25rem;
}

@media (min-width: 64em) {
  .hero__text p {
    font-size: 1.25rem;
  }
}

.hero__cta {
  margin: auto;
}

.features {
  background-color: #f3f4f6;
  text-align: center;
}

@media (min-width: 64em) {
  .features {
    text-align: left;
  }
}

.features p {
  font-size: 0.875rem;
  color: #9698a6;
  line-height: 1.7;
}

@media (min-width: 64em) {
  .features p {
    font-size: 1.0625rem;
  }
}

@media (min-width: 40em) {
  .features__headline > p {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 64em) {
  .features__headline > p {
    width: 650px;
    margin-left: 0;
  }
}

@media (min-width: 40em) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
}

@media (min-width: 64em) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.features__item {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

@media (min-width: 40em) {
  .features__item {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 64em) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.features__icon {
  margin-bottom: 1rem;
}

.article {
  background-color: #fafafa;
}

.article__headline {
  text-align: center;
}

@media (min-width: 64em) {
  .article__headline {
    text-align: left;
  }
}

.article__grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
  }
}

@media (min-width: 64em) {
  .article__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
  }
}

.article__item {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.article__image {
  width: 100%;
  height: 12.5rem;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
}

.article__content {
  background-color: white;
}

.article__author {
  font-size: 0.5625rem;
  color: #9698a6;
}

.article__title h4 {
  font-weight: 400;
  font-size: 1.0625rem;
  color: #2d314d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: -0.0313rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.article__title h4:hover {
  color: #2bb7da;
  font-weight: 500;
}

.article__description {
  font-size: 0.875rem;
  color: #9698a6;
  letter-spacing: -0.0313rem;
}

.footer {
  background-color: #2d314d;
  color: white;
  text-align: center;
}

@media (min-width: 40em) {
  .footer {
    text-align: left;
  }
}

@media (min-width: 40em) {
  .footer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 20% 20% 35%;
        grid-template-columns: 25% 20% 20% 35%;
  }
}

.footer__logo img {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.footer__icons {
  max-width: 11rem;
  margin: auto;
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .footer__icons {
    margin: 0;
  }
}

.footer__icons a {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.footer__icons a:hover svg path {
  fill: #2bb7da;
}

.footer__textlink {
  font-size: 0.875rem;
}

@media (min-width: 40em) {
  .footer__textlink.col1 {
    margin-left: 1rem;
  }
}

.footer__textlink.col2 {
  margin-bottom: 1rem;
}

.footer__textlink a {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.footer__textlink a:hover {
  color: #2bb7da;
}

@media (min-width: 40em) {
  .footer__last {
    text-align: right;
  }
}

.footer__last button {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.footer__copyright {
  font-size: 0.875rem;
  color: #9698a6;
}

.attribution {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  background-color: #2d314d;
  color: #9698a6;
}

.attribution a {
  color: white;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */